body {
  background-color: #f4d04e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: white;
  border: 1px solid #111111;
  border-radius: 20px;
  box-shadow: 8px 8px 0 #000000;
  max-width: 384px;
  margin: auto;
  overflow: hidden;
  font-family: "Figtree";
}

.card:hover,
.card.active {
  box-shadow: 16px 16px 0 #000000;
}

.card-image img {
  width: 336px;
  height: 200px;
  display: block;
  border-radius: 10px;
  object-fit: cover;
  margin: 24px 24px;
}

.card-content {
  padding: 0 20px 20px 20px;
}

.card-tag {
  display: inline-block;
  background-color: #ffc107;
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.card-date {
  display: block;
  color: black;
  font-size: 12px;
  margin-top: 5px;
}

.card-title {
  font-size: 24px;
  margin: 10px 0;
}

.card-title:hover,
.card-title.active {
  color: yellow;
  font-size: 24px;
  margin: 10px 0;
}

.card-description {
  font-size: 14px;
  color: gray;
}

.card-author {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.author-image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.author-name {
  font-size: 14px;
  color: #333;
}
